<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Inlustration -->
      <a href="#home"
        ><i class=""></i>
        <img
          _ngcontent-ng-c3729415961=""
          src="https://www.luftborn.com/_nuxt/NavLogo.DsLRihGN.svg"
      /></a>
    </div>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a href="#home">Home</a></li>
      <!--
     -->
      <li><a href="#services">Services</a></li>
      <!--
     -->
      <li><a href="#about">About</a></li>
      <!--
     -->
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>
<router-outlet />
